.login-containter {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .form {
    width: 100%;
    height: 100%;
    padding: 40px;
    max-height: 560px;
    max-width: 420px;
    background-color: rgb(255, 255, 255);
    color: rgb(33, 43, 54);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    overflow: hidden;
    box-shadow: rgba(145, 158, 171, 0.08) 0px 0px 2px 0px,
      rgba(145, 158, 171, 0.08) 0px 12px 24px -4px;
    border-radius: 16px;
    .icon-login {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
    }
    .icon {
      cursor: pointer;
      padding: 10px 25px;
      border-radius: 8px;
      border: 1px solid #a1b9d2;
      &:hover {
        background-color: rgba(33, 43, 54, 0.08);
      }
    }
    .separator {
      text-align: center;
      position: relative;
      &:after {
        content: "";
        display: block;
        height: 1px;
        width: 40%;
        background-color: #e4dede;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
      label {
        color: #1877f2;
      }

      &:before {
        content: "";
        display: block;
        height: 1px;
        width: 40%;
        background-color: #e4dede;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
      }
    }

    span {
      color: #1877f2;
      text-decoration: underline;
      cursor: pointer;
    }

    .input-login {
      i {
        margin-left: -30px;
        cursor: pointer;
      }
      input {
        padding: 10px;
      }
    }
    .login {
      width: 100%;
      background-color: #212b36;
      color: #ffffff;
      padding: 8px 22px;
      border-radius: 8px;
      font-weight: 700;
      line-height: 1.71429;
      font-size: 0.9375rem;
      margin: 20px 0;
    }
  }
}
